form {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ba9696;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
 
  .submit {
   
    padding: 10px 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Button hover effect */
  button:hover {
    background-color: #0056b3;
  }
  
  /* Error message styling */
  span {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    display: block;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 600px) {
    form {
      margin: 20px;
    }
  }
  